@import url("https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600&family=Space+Grotesk:wght@400;500;600;700&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: 0 0% 3.9%;
  --foreground: 0 0% 98%;

  --card: 0 0% 7.8%;
  --card-foreground: 0 0% 98%;

  --popover: 0 0% 7.8%;
  --popover-foreground: 0 0% 98%;

  --primary: 0 0% 100%;
  --primary-foreground: 0 0% 3.9%;

  --secondary: 0 0% 10.2%;
  --secondary-foreground: 0 0% 98%;

  --muted: 0 0% 9%;
  --muted-foreground: 0 0% 63.9%;

  --accent: 46 65% 53.1%;
  --accent-foreground: 0 0% 3.9%;

  --destructive: 0 72% 51%;
  --destructive-foreground: 0 0% 98%;

  --border: 0 0% 14.9%;
  --input: 0 0% 14.9%;
  --ring: 46 65% 53.1%;

  --radius: 0.25rem;
  --font-heading: "Space Grotesk";
  --font-body: "Inter";
}

* {
  border-color: hsl(var(--border));
}

body {
  background-color: hsl(var(--background));
  color: hsl(var(--foreground));
  font-family: var(--font-body), system-ui, sans-serif;
}
